<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ninja Gold</title>
    <meta name="ninja gold" content="description of the page">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .box{
            width: 200px;
            height: 200px;
            margin: 20px;
            padding: 20px;
            border: 2px solid black;
            display: inline-block;
            vertical-align: top;
        }
        .activity_box{
            height: 150px;
            overflow: auto;
            margin: 20px;
            padding: 20px;
            border: 1px solid black;
        }

    </style>

</head>

<body>
    <div class="jumbotron text-center">
        <h1>Welcome to the Ninja Gold Game!</h1>
        <p>Hi Ninjas! Go explore different places (farm, cave, house, casino) and earn different amounts of gold! </p>
        <p>Just start clicking on the Find Gold buttons</p>

        <h3>Your Gold:  {{ TotalGold }}</h3>
        <div class="box">
            <h3>Farm</h3>
            <p>(earns 10- 20 golds)</p>
            <button (click)="onButtonClick(farm)" >Find Gold!</button>
        </div>
        <div class="box">
            <h3>Cave</h3>
            <p>(earns 5- 10 golds)</p>
            <button (click)="onButtonClick(cave)" >Find Gold!</button>
        </div>
        <div class="box">
            <h3>House</h3>
            <p>(earns 2 - 5 golds)</p>
            <button (click)="onButtonClick(house)" >Find Gold!</button>
        </div>
        <div class="box">
            <h3>Casino</h3>
            <p>(earns/takes 0 - 50 golds)</p>
            <button (click)="onButtonClick(casino)" >Find Gold!</button>
        </div>

        <h4>Activities</h4>
        <div class="activity_box">
          {{activities}}
        </div>

        <form action="/reset" method="post">
            <button class="btn btn-info">Restart the game</button>
        </form>
    </div>
</body>

</html>